/* -------------------------------------------------------------------------------- */
/* ! MOBILE VERSION */
/* -------------------------------------------------------------------------------- */

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --violet: #9792E4;
}

/* ! Regole reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

menu,
ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    font-family: "Source Sans Pro", sans-serif;
}

p {
    line-height: 1.7;
}

/* ! Regole layout */
body {
    font-family: "Source Sans Pro", sans-serif;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.container--small {
    max-width: 880px;
}

.row {
    display: flex;
}

/* ! Generic Card */
.card-wrapper .col {
    flex-basis: 100%;
}

.card {
    border-radius: 20px;
}

.card .title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* ! Utility */
.btn {
    display: inline-block;
    width: fit-content;
    line-height: 2.5625rem;
    border-radius: 20px;
    white-space: nowrap;
}

.btn.btn--big {
    line-height: 2.875rem;
}

.btn.btn--small {
    line-height: 2.125rem;
    font-size: 16px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    aspect-ratio: 1/1;
}

.hamburger .hamburger__item {
    width: 100%;
    height: 4px;
    background-color: #fff;
}

/* ! Header */
.main-header {
    padding-block: 1rem;
    background-color: var(--blue);
    font-size: 18px;
}

.main-header .container {
    display: flex;
    align-items: center;
}

.main-header__logo {
    max-width: 80px;
}

.main-header__list {
    display: none;
}

.main-header .hamburger {
    margin-left: auto;
}

/* ! Hero */
.hero {
    padding-block: 3rem 5rem;
}

.card-wrapper {
    flex-wrap: wrap;
    gap: 24px;
}

.hero .card {
    background-color: var(--lightblue);
    padding: 2rem;
    text-align: center;
}

.hero .col--big .card {
    padding-bottom: 0;
    text-align: left;
}

.hero .card .title {
    color: var(--blue);
}

.hero .card__description {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.hero .col--big .card__description {
    margin-bottom: 2rem;
}

.hero .card__description i:not(.btn__icon) {
    font-size: 5rem;
    color: var(--blue);
}

.hero .card__description button {
    padding-inline: 3.125rem;
    background-color: var(--blue);
    color: #fff;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.hero .card__description button i {
    margin-right: 0.625rem;
}

/* ! Strategic */
.strategic {
    padding-block: 4.0625rem;
    background-color: var(--violet);
    color: #fff;
}

.strategic .col:first-child .card__img {
    margin-bottom: 5rem;
}

.strategic .col:first-child .card__title {
    margin-bottom: 3.5rem;
    font-size: 2rem;
}

.strategic .col:last-child .card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1.5rem;
    border-radius: 48px;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.strategic .card__arrow {
    width: fit-content;
    margin-inline: auto;
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--violet);
}

/* -------------------------------------------------------------------------------- */
/* ! TABLET VERSION */
/* -------------------------------------------------------------------------------- */
@media (min-width: 810px) {

    /* ! Hero */
    .hero .card-wrapper .col {
        flex-basis: calc(calc(100% - calc(24px * 2)) / 3);
    }

    .hero .card-wrapper .col.col--big {
        flex-basis: calc(calc(100% - calc(24px / 2)) / 3 * 2);
    }

    .hero .card {
        height: 100%;
        padding: 1.5rem;
        font-size: 1.125rem;
    }

    .hero .card__description button {
        font-size: 1.25rem;
    }

    .hero .card__img img {
        width: 50%;
    }

    /* ! Strategic */
    .strategic {
        font-size: 18px;
    }

}



/* -------------------------------------------------------------------------------- */
/* ! DESKTOP VERSION */
/* -------------------------------------------------------------------------------- */
@media (min-width: 1200px) {

    /* ! Header */
    .hamburger {
        display: none;
    }

    .main-header__list {
        display: flex;
        align-items: center;
        margin-left: auto;
        column-gap: 2rem;
    }

    .main-header__list .item {
        padding-block: 0.5em;
    }

    .main-header__list button {
        padding-inline: 1em;
        font-size: 18px;
    }

    /* ! Hero */
    .hero .col--big .card {
        display: flex;
    }

    .hero .col--big .card__description,
    .hero .col.col--big .card__img {
        flex-basis: 50%;
    }

    .hero .col.col--big .card__img {
        display: flex;
        justify-content: center;
        align-self: flex-end;
    }

    /* ! Strategic */
    .strategic {
        padding-top: 8.75rem;
    }

    .strategic .card-wrapper {
        flex-wrap: nowrap;
        gap: 4.0625rem;
    }

    .strategic .card-wrapper .col {
        flex-basis: 50%;
    }

    .strategic .col:first-child .card__img {
        margin-bottom: 8.75rem;
    }

    .strategic .card-wrapper .col:last-child {
        display: flex;
    }

    .strategic .card-wrapper .col:last-child .card {
        align-self: flex-end;
    }
}